
body{
    background-color: black;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1 {
    margin: auto;
    text-align: center;
    font-family: Laquer;
}
canvas {
 
    align-content: center;
}
